$color: #c0c0c0;
$background: #f0f0f0;
$font-size: 16px;

$card-background: #fff;
$card-padding: 6px;
$card-width: 165px;
$card-height: 240px;
$card-color-red: #e44145;
$card-color-black: #252525;
$card-symbol-size: 32px;
$ace-symbol-size: 80px;

$card-wrap-interval: 30px;

$card-inner-minor-axis: 114px;
$card-inner-major-axis: 180px;

$small-screen-modifier: 0.60;
$small-screen-width: 600px;

$medium-screen-modifier: 0.80;
$medium-screen-width: 1024px;

@mixin responsiveValue($field, $value) {
    #{$field}: $value;

    @media (max-width: $medium-screen-width) {
        #{$field}: $value * $medium-screen-modifier;
    }
    @media (max-width: $small-screen-width) {
        #{$field}: $value * $small-screen-modifier;
    }

    .util-fixedSizeContainer {
        @media (max-width: $medium-screen-width) {
            #{$field}: $value;
        }
    }
    .util-fixedSmallSizeContainer & {
        #{$field}: $value * $small-screen-modifier;
        @media (max-width: $medium-screen-width) {
            #{$field}: $value * $small-screen-modifier;
        }
    }
    .util-fixedMediumSizeContainer & {
        #{$field}: $value * $medium-screen-modifier;
        @media (max-width: $medium-screen-width) {
            #{$field}: $value * $medium-screen-modifier;
        }
    }
}

.util-floatLeft {
    float: left;
}

.util-floatRight {
    float: right;
}

.util-button {
    color: white;
    border: 1px solid white;
    border-radius: 12px;
    padding: 12px 24px;
    &:hover {
        color: yellowgreen;
        border: 1px solid yellowgreen;
    }
    &--secondary:hover {
        color: orange;
        border: 1px solid orange;
    }
    &--disabled {
        color: gray;
        border: 1px solid gray;
        &:hover {
            color: gray;
            border: 1px solid gray;
        }
    }
}

.util-x-centered {
    left: 50%;
    transform: translate(-50%, 0);
}


.util-text-button {
    text-shadow: 1px 1px black;
    &:hover {
        color: greenyellow;
    }
    &[data-disabled=true] {
        color: gray;
        &:hover {
            color: gray;
        }
    }
}
