@import '../constants';

.hand {
    display: flex;
    flex-direction: row;
    &-cardWrapper {
        margin-top: 35px;
        @include responsiveValue(margin-right, $card-wrap-interval - $card-width);
        &:last-child {
            margin-right: 0;
        }
        &--selected {
            margin-top: 5px;
        }
        &--selectable:hover {
            margin-top: 0;
        }
    }

    &-throwButton {
        position: fixed;
        left: 50%;
        transform: translate(-50%, 0);
        @include responsiveValue(bottom, $card-height);
    }

    &--0 {
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        &-6ma {
            left: 0%;
            transform: translate(0%, 50%);
        }
    }

    &--1 {
        position: fixed;
        top: 50%;
        transform: translate(-50%, -50%) rotate(90deg);
    }

    &--2 {
        position: fixed;
        top: 0;
        left: 0;
        transform: translate(0, -50%) rotate(180deg);
    }
    
    &--3 {
        position: fixed;
        top: 0;
        right: 0;
        transform: translate(0, -50%) rotate(180deg);
    }

    &--4 {
        right: 0;
        position: fixed;
        top: 50%;
        transform: translate(50%, -50%) rotate(-90deg);
    }

    &--5 {
        position: fixed;
        bottom: 0;
        right: 0;
        transform: translate(0, 50%);
    }
}