.InputModal {
  box-shadow: 0 4px 6px rgba(0, 0, 0, .4);
  position: fixed;
  left: 50%;
  top: 76%;
  max-width: 480px;
  background: rgba(#333, 0.5);
  color: white;
  padding: 5px;
  transform: translate(-50%, 200%);
  z-index: 9999;
}