@import "../constants";

.card {
    position: relative;
    display: inline-block;
    font-family: 'Trebuchet MS';
    @include responsiveValue(font-size, $font-size);
    @include responsiveValue(width, $card-width);
    @include responsiveValue(height, $card-height);

    background: $card-background;
    @include responsiveValue(border-radius, $card-padding);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    @media (max-width: $small-screen-width) {
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.18);
    }

    &--selectable {
        &:focus {
            background: yellowgreen;
        }
    }
    &--unselectable {
        background: lightgray;
    }

    &-pic {
        // 165 * 263
        position: relative;
        @include responsiveValue(width, $card-inner-minor-axis);
        @include responsiveValue(height, $card-inner-major-axis);

        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-size: contain;

        &--back {
            @include responsiveValue(width, $card-width - 12px);
            @include responsiveValue(width, $card-height - 12px);

            background-image: linear-gradient(#0C0, #490, #230);
            border: #383 solid 1px;
        }
    }
}