.PledgeInput {
    &-arrows {
        display: flex;
        flex-direction: column;

    }

    &-arrow
    {
        &--up {
            -webkit-text-stroke: 2px greenyellow;
            &:hover {
                color: green;
            }
        }

        &--down {
            -webkit-text-stroke: 2px orange;
            &:hover {
                color: orangered;
            }
        }

        &--disabled {
            -webkit-text-stroke: 0;
            color: gray;
            &:hover {
                color: gray;
            }
        }
    }

    &-scoreBox {
        font-size: 32px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    &-buttonStack {
        & > .PledgeInput-button {
            margin-right: 5px;
            &:last-child {
                margin: 0;
            }
        }
        display: flex;
        flex-direction: row;
        margin-bottom: 30px;
    }

    &-button {
        text-align: center;
        background: white;
        color: black;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 48px;
        height: 48px;
        font-size: 32px;
        &--heart, &--diamond {
            color: red;
        }
    }
}