.CenterCards {
    position: fixed;
    left: 50%;
    top: 50%;

    &-0 {
        transform: translate(-50%, 0%);
    }

    &-1 {
        transform: translate(-135%, -50%);
    }

    &-2 {
        transform: translate(-97%, -100%);
    }

    &-3 {
        transform: translate(0%, -100%);
    }

    &-4 {
        transform: translate(35%, -50%);
    }

    @for $i from 0 through 4 {
        &--removeTo#{$i} {
            animation-name: remove-to-#{$i};
            animation-duration: .4s;
            animation-fill-mode: forwards;
            animation-timing-function: ease-in-out;
        }

        &--z#{$i} {
            z-index: $i;
        }
    }
}

@keyframes remove-to-0 {
    to {
        left: 50%;
        top: 100%;
        transform: translate(-50%, 100%);
    }
}

@keyframes remove-to-1 {
    to {
        left: 0;
        top: 50%;
        transform: translate(-100%, -50%);
    }
}

@keyframes remove-to-2 {
    to {
        left: 0;
        top: 0;
        transform: translate(-100%, -100%);
    }
}

@keyframes remove-to-3 {
    to {
        left: 100%;
        top: 0;
        transform: translate(0%, -100%);
    }
}

@keyframes remove-to-4 {
    to {
        left: 100%;
        top: 50%;
        transform: translate(100%, -50%);
    }
}