@import '../constants';

.CardSelector {
    &-shortcuts {
        display: flex;
        flex-direction: row;
    }

    &-shortcutColumn {
        display: flex;
        flex-direction: column;
        flex: auto;
    }

    &-cardsContainer {
        display: flex;
        flex-direction: row;
        margin-top: 8px;
        &--cutoff {
            height: $card-height *  $small-screen-modifier * 0.35 + 15px;
            overflow: hidden;
        }
    
        & > .card {
            margin-top: 15px;
            @include responsiveValue(margin-right, $card-wrap-interval - $card-width);
            &:last-child {
                margin-right: 0;
            }
            &.card--selectable:hover {
                margin-top: 0;
            }
        }
    }
}