@import '../constants';

$nametag-board-margin-from-hand: 16px;

.NameTag {
    box-shadow: 0 4px 6px rgba(0, 0, 0, .4);
    background: rgba(#333, 0.5);
    color: white;
    padding: 24px;
    word-wrap: keep-all;
    display: inline-block;
    z-index: -50;
    & > div {
        margin-bottom: 8px;
        &:last-child {
            margin: 0;
        }
    }

    &--ingame {
        padding: 10px;
    }

    &-title {
        &--president {
            color: gold;
        }
        &--primeMinister {
            color: gold;
        }
    }

    &--turnOwner {
        background-image: radial-gradient(circle, #888, #333);
    }

    &--giveup {
        color: rgba($color: white, $alpha: 0.1);
        background: rgba(#333, 0.1);
        box-shadow: 0 4px 6px rgba(0, 0, 0, .1);
    }

    &-content {
        font-size: 24px;
    }

    &-giruda {
        margin-right: 8px;
        &--heart, &--diamond {
            color: $card-color-red;
            text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
        }
        &--clover, &--spade {
            color: $card-color-black;
            text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
        }
    }

    position: fixed;
    &--0 {
        @include responsiveValue(left, 7 * $card-wrap-interval + $card-width);
        @include responsiveValue(bottom, $card-height * 0.5 + $nametag-board-margin-from-hand);
        transform: translate(-100%, 0%);
        &--5ma {
            left: 50%;
            transform: translate(-50%, 0);
        }
    }
    &--1 {
        @include responsiveValue(left, 0.5 * $card-height + $nametag-board-margin-from-hand);
        top: 50%;
        transform: translate(0, -50%);
    }
    &--2 {
        @include responsiveValue(left, 7 * $card-wrap-interval + $card-width);
        @include responsiveValue(top, $card-height * 0.5 + $nametag-board-margin-from-hand);
        transform: translate(-100%, 0);
    }
    &--3 {
        @include responsiveValue(right, 7 * $card-wrap-interval + $card-width);
        @include responsiveValue(top, $card-height * 0.5 + $nametag-board-margin-from-hand);
        transform: translate(100%, 0);
    }
    &--4 {
        @include responsiveValue(right, 0.5 * $card-height + $nametag-board-margin-from-hand);
        top: 50%;
        transform: translate(0, -50%);
    }
    &--5 {
        @include responsiveValue(right, 7 * $card-wrap-interval + $card-width);
        @include responsiveValue(bottom, $card-height * 0.5 + $nametag-board-margin-from-hand);
        transform: translate(100%, 0%);
    }
}
