.Modal {
    box-shadow: 0 4px 6px rgba(0, 0, 0, .4);
    position: fixed;
    left: 50%;
    top: 50%;
    max-width: 480px;
    background: rgba(#333, 0.5);
    color: white;
    padding: 24px;
    transform: translate(-50%, -50%);
    word-wrap: keep-all;
    &-confirmButton {
        margin-top: 32px;
    }
}