@import '../constants';

.SuitSelector {
    display: flex;
    flex-direction: row;
    &-button {
        text-align: center;
        background: white;
        color: $card-color-black;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 24px;
        height: 24px;
        font-size: 20px;
        margin-right: 3px;
        &--heart, &--diamond {
            color: $card-color-red;
        }
        border: 3px solid white;
        &:hover {
            border: 3px solid greenyellow;
        }
    }
}